/*
whitesmoke: #f5f5f5
darker blue: #213169
blue: #4173CD
teal: #14AAC8
yellow: #FABE28
orange: #FF9628
dark orange: #F06419
red: #f03719
grey: #C6C6C5
blue-grey: #2C3E50
blue-grey-dark:#1e2e3f

*/

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: Lato, sans-serif;
    color: #03142C;
}

header {
    padding: 6px 10%;
}

h1 {
    padding: 8px 15px;
    margin: 0;
}

#side-panel {
    position: absolute;
    z-index: 600;
    left: 0;
    top: 0;
    bottom: 35%;
    width: 340px;
    background: #f5f5f5;
    opacity: .95;
    border-radius: 0px 5px 0px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    overflow-y: scroll;
}

#side-panel-legend {
    position: absolute;
    z-index: 610;
    left: 0;
    top: 65%;
    bottom: 0px;
    width: 340px;
    background: #0A2244;
    border-top: 1px solid;
    border-top-color: black;
    opacity: .95;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.sideText_h2 {
    float: left;
    color: #0A2244;
    padding: 0px 15px 5px 12px;
    margin: 15px 15px 10px 12px;
    font-size: 26px;
}

.sideText_h3 {
    float: left;
    color: #0A2244;
    padding: 0px 15px 0px 12px;
    margin: 10px 15px 10px 12px;
    font-size: 18px;
}

.sideText_p {
    float: left;
    font-size: 14px;
    color: #0A2244;
    padding: 0px 12px 0px 12px;
    margin: 5px 12px 4px 12px;
}

.sideText_p_legend {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #fFF;
    padding: 0px 15px 0px 12px;
    margin: 15px 15px 4px 12px;
}

.sideText_final_text {
    position: absolute;
    font-size: 10px;
    color: #fFF;
    padding: 0px 15px 0px 12px;
    margin: 15px 15px 4px 12px;
    bottom: 15px;
}

.side_hr {
    border: 0;
    width: 85%;
    color: #0A2244;
    background-color: #03142C;
    height: 1px;
    margin-bottom: 10px;
}

a {
    color: #14AAC8;
    text-decoration: none;
    font-weight: 600;
}

#map {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

#ui-slider {
    position: absolute;
    z-index: 620;
    bottom: 25px;
    left: 15px;
    width: 270px;
    padding: 4px 15px 8px 8px;
    color: #fFF;
}

.slider {
    width: 100%;
}

#ui-slider .min {
    float: left;
    font-size: 14px;
}

#ui-slider .max {
    float: right;
    font-size: 14px;
}

.mTooltip {
    font-size: 1em;
    color: #0A2244;
    border: #f5f5f5;
    background: #f5f5f5;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    line-height: 150%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.leaflet-tooltip-left.mTooltip::before {
    border-left-color: #f5f5f5;
}

.leaflet-tooltip-right.mTooltip::before {
    border-right-color: #f5f5f5;
}

#info {
    position: absolute;
    z-index: 700;
    bottom: 30px;
    right: 10px;
    max-width: 300px;
    display: none;
    background: #0A2244;
    opacity: 0.7;
    border-radius: 5px;
    padding: 15px 25px;
    line-height: 130%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#info p {
    margin: 3px 0 4px;
    font-size: 14px;
    color: #fFF;
}

#info h3 {
    margin: 3px 0 4px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #fFF;
}